.printPreview {
  display: flex;
  flex-direction: column;
  position: relative;
  // min-height: 100%;
  width: 100%;
  // border: 1px grey solid;
  // padding: (1rem * 0.5);
  // overflow: hidden;
}

.printPreview_btns {
  display: flex;
  justify-content: center;
  background: 'white';
  padding: (1rem * 0.5);
  align-items: center;
  > div,
  button {
    margin-right: 1rem;
    height: 100%;
  }
}

.printPreview_pageNoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.printPreview_pageNoInput {
  width: (2 * 1rem);
  border: none;
  margin: 0;
  text-align: right;
}

.printPreview_contentWrap {
  position: absolute;
  padding: 1rem;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 1rem * 3.5;
}

.printPreview_content-A4 {
  background: white;
  box-shadow: 1px 1px 5px 5px rgba(0.3, 0.3, 0.3, 0.1);
  margin-bottom: 1rem;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    height: 1rem;
  }
  @media print {
    box-shadow: none;
  }
}

.printPreview_allPagesForPrint {
  display: none;
  position: absolute;
  overflow: hidden;
  page-break-inside: avoid;

  @media print {
    display: block;
  }
}

@media print {
  .printPreview_content-A4 {
    page-break-after: always;
    page-break-inside: avoid;

    background: white;
    box-shadow: none;
    border: none;
    margin: 0;
    outline: none;
    &::after {
      display: none;
    }
  }
}

@page {
  size: a4;
}
